<!DOCTYPE html>
<html lang="pt-br">
<head>

  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block og_info %}
  {% endblock og_info %}

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}
  {% endblock head %}

  <!-- Última versão CSS compilada e minificada -->
  <link rel="stylesheet" href="/theme/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Tema opcional -->
  <!--<link rel="stylesheet" href="/theme/bootstrap/3.3.7/css/bootstrap-theme.min.css">-->

  <!-- Pygment -->
  <link rel="stylesheet" href="/theme/css/pygment.css">

  <!-- Style -->
  <link rel="stylesheet" href="/theme/css/style.css">

</head>

<body>

  {% include 'navbar.html' %}


  <!-- Page Content -->
  <div class="container">

    <div class="row banner-top">
      {% include 'banners/banner-adsense-top.html' %}
    </div>

    <div class="row">
      <div class="col-lg-8">
      {% block content %}
      {% endblock %}
      </div>

      <div class="col-md-4">
        {% include 'sidebar-dir.html' %}
      </div>
    </div>

    {% include 'footer.html' %}

  </div>

  {% include 'analytics.html' %}

  {% if DISQUS_SITENAME %}
  <!-- Disqus comments -->
  <script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
  {% endif %}

  <!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Última versão JavaScript compilada e minificada -->
  <script src="/theme/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
