<li>
    <form action="/resultado-da-busca/"
          id="cse-search-box" class="navbar-form" role="search">
        <div class="input-group">
            <script>
                (function() {
                  var cx = 'partner-pub-6041601556788047:5928035171';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <div style="width:0px;overflow:hidden;height:0px;"> <!-- if you use display:none here, it doesn't work-->
                <gcse:searchbox-only resultsUrl="/resultado-da-busca/"></gcse:searchbox-only>
            </div>
            <input type="hidden" name="cx" value="partner-pub-6041601556788047:5928035171" />
            <input type="hidden" name="cof" value="FORID:10" />
            <input type="text" name="q" class="form-control" placeholder="Pesquisar" />
            <div class="input-group-btn">
                <button  type="submit" name="sa" class="btn btn-default" ><i class="glyphicon glyphicon-search"></i></button >
            </div>
        </div>
    </form>
</li>