
{% set random_hotmart_1 = range(1, 4)|random %}


{% if random_hotmart_1 == 1 %}
    {% include 'banners/gustavo/banner-hotmart-10-recursos-avancados-java.html' %}
{% elif random_hotmart_1 == 2 %}
    {% include 'banners/gustavo/banner-hotmart-introducao-programacao-java-escola-linux.html' %}
{% elif random_hotmart_1 == 3 %}
    {% include 'banners/gustavo/banner-hotmart-jsf-primefaces-hibernate-spring.html' %}
{% elif random_hotmart_1 == 4 %}
    {% include 'banners/gustavo/banner-hotmart-curso-java-oo.html' %}
{% endif %}
