<center>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="{% if article and AUTHORS[article.author|string] and AUTHORS[article.author|string].adsense.adClientId != '' %}{{ AUTHORS[article.author|string].adsense.adClientId }}{% else %}{{DEFAULT_ADSENSE['adClientId']}}{% endif %}"
     data-ad-slot="{% if article and AUTHORS[article.author|string] and AUTHORS[article.author|string].adsense.adSlot.bottom_responsible %}{{ AUTHORS[article.author|string].adsense.adSlot.rside_300x600 }}{% else %}{{DEFAULT_ADSENSE['adSlot'].rside_300x600}}{% endif %}"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</center>